# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ProgsProjects\Fiducci_Mathiasis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
